{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>汉购网 -登录</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
		<script type="text/javascript" src="{% static 'js/jquery-1.12.3.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
	</head>
	<body>
		<!--头部-->
		<div class="header-wrap">
		  	<header class="public-head-layout">
			    <h1 class="site-logo">
			    	<a href="#"><img src="{% static 'images/logo.jpg' %}"></a>
			    </h1>
	            <div class="nc-login-now">
				    <span class="avatar"><img src="{% static 'images/default_user_portrait.gif' %}"></span>
				    <span>您好，欢迎来到汉购网<br>
				    	已注册的会员请登录，或立即
				    	<a href="{% url 'hangowang:register' %}">注册新会员</a>
				    </span>
	            </div>	 
          	</header>
		</div>
		<!--主要部分-->
		<div class="nc-login-layout">
			<!--背景-->
		  	<div class="left-pic">
		  		<img src="{% static 'images/4.jpg' %}" border="0">
		  	</div>
		  	<!--登录部分-->
		  	<div class="nc-login">
			    <div class="arrow"></div>
			    <div>
			    	<!--顶部-->
			      	<ul class="tabs-nav">
			        	<li>
			        		<a href="#" class="tabulous_active">用户登录<i></i></a>
			        	</li>
			        	<li>
			        		<a href="#">扫码登录<i></i></a>
			        	</li>
			        	<span class="tabulousclear"></span>
		            </ul>
			      	<div class="tabs-container">
				        <div class="tabs-content">
				          	<form class="nc-login-form" method="post" action="{% url 'hangowang:login' %}" enctype="multipart/form-data">
                                {% csrf_token %}
					            <dl>
				              		<dt>账&nbsp;&nbsp;&nbsp;号：</dt>
				              		<dd>
				                		<input class="text" placeholder="可使用已注册的用户名或手机号登录" type="text" id="username" name="username">
				              		</dd>
					            </dl>
				            	<dl>
					              	<dt>密&nbsp;&nbsp;&nbsp;码：</dt>
					              	<dd>
					                	<input class="text" placeholder="6-20个大小写英文字母、符号或数字" type="text" id="pad" name="password">
					              	</dd>
					            </dl>
			                    <div class="handle-div">
						            <span class="auto">
						            	<input class="checkbox" type="checkbox">
						            	七天自动登录
						            </span>
						            <a class="forget" href="#">忘记密码？</a>
			                    </div>
					            <div class="submit-div">
				              		<input class="submit" value="登&nbsp;&nbsp;&nbsp;录" type="submit" id="loginsub">
				            	</div>
				          	</form>
				        </div>
			        </div>
	    		</div>
			    <div class="nc-login-api">
		            <h4>使用合作网站账号登录：</h4>
		            <a href="#" title="QQ账号登录" class="qq"><i></i>QQ</a>
		            <a href="#" title="微信账号登录" class="wx"><i></i>微信</a>
		        </div>
  			</div>
  			<div class="clear"></div>
		</div>
		<!--底部-->
		<div class="wwi-footer">
			<div class="cti wrapper"></div>
			<div class="footer">
				<div class="wrapper">
					<div class="clearfix">
						<div class="fl right-flag">
							<a href="#"><img src="{% static 'images/credit-flag3.png' %}"></a>
							<a href="#"><img src="{% static 'images/isc2.png' %}"></a>
						</div>
						<div class="fl about-us">
							<p>
								<a href="{% url 'hangowang:index' %}">返回首页</a><span>|</span>
								<a href="#">商家入驻</a><span>|</span> 
								<a href="#">联系我们</a><span>|</span> 
								<a href="#">关于汉购网</a><span>|</span> 
								<a href="#">汉搜云</a><span>|</span>
								<a href="#">友情链接</a>
							</p>
							<p>
								CopyRight © 2007-2016 汉购网交流中心 
								<a href="#" style="color:#666">鄂ICP备14015152号-1</a>
								NewPower Co. 版权所有
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
