@charset "utf-8";
.wrapper { 
	width: 1200px; 
	margin: 0 auto;
}
.ws0 { 
	font-size: 0;
}

/* 购物车头部内容
------------------------------------*/
.ncc-wrapper { 
	width: 1200px; 
	margin: 0 auto;
}
.ncc-head-layout { 
	display: block; 
	width: 1200px; 
	height: 100px; 
	margin: 0 auto; 
	overflow: hidden;
}
.ncc-head-layout .site-logo { 
	float: left; 
	width: 240px; 
	height: 60px; 
	margin: 20px 0;
}
.ncc-head-layout .site-logo a { 
	display: block;
	width: 100%; 
	height: 100%; 
}
.ncc-head-layout .site-logo img { 
	max-width: 240px; 
	max-height: 60px;
}
/* 步骤 */
.ncc-flow { 
	font-size: 0;  
	word-spacing:-1em; 
	width: 640px; 
	height: 70px; 
	float: right; 
	margin: 15px 0; 
}
.ncc-flow li { 
	font-size: 12px; 
	vertical-align: top; 
	letter-spacing: normal; 
	word-spacing: normal; 
	display: inline-block;
	width: 25%; 
	height: 70px; 
	position: relative; 
	z-index: 1;
}
.ncc-flow li i { 
	background: #FFF url(../images/buy_step.gif) no-repeat; 
	width: 30px; 
	height: 30px; 
	margin-left: -15px;
	position: absolute; 
	z-index: 2; 
	top: 0; 
	left: 50%;
}
.ncc-flow li i.step1 { 
	background-position: 0 0;
}
.ncc-flow li i.step2 { 
	background-position: -30px 0;
}
.ncc-flow li i.step3 { 
	background-position: -60px 0;
}
.ncc-flow li i.step4 { 
	background-position: -90px 0;
}
.ncc-flow li p { 
	font-size: 14px/24px arial,"microsoft yahei";  
	color: #CCC; 
	text-align: center; 
	width: 100%; 
	height: 24px; 
	position: absolute; 
	z-index: 2; 
	left: 0; 
	bottom: 0; 
	overflow: hidden;
}
.ncc-flow li sub { 
	background-color: #FFF; 
	width: 5px; 
	height: 5px; 
	border: solid 1px #CCC; 
	border-radius: 4px; 
	position: absolute; 
	z-index: 2; 
	top: 38px; 
	left: 50%;
	margin-left: -3px; 
}
.ncc-flow li .hr { 
	background-color: #DDD; 
	width: 100%; 
	height: 1px; 
	border: none 0; 
	position: absolute; 
	z-index: 1; 
	top: 29px;
	left: 0;
}
.ncc-flow li.current i.step1 { 
	background-position: 0 -30px;
}
.ncc-flow li.current p { 
	color: #27A9E3;
}
.ncc-flow li.current sub { 
	background-color: #27A9E3; 
	border-color: #27A9E3; 
	box-shadow: 0 0 0 2px rgba(0,153,204,0.15);
}
.ncc-flow li.current .hr { 
	background-color: #27A9E3;
}
.mr10 {
    margin-right: 10px !important;
    background: #F98016;
}
/*购物车为空
-----------------------------------*/
.ncc-null-shopping { 
	width: 480px; 
	height: 340px; 
	margin: 0 auto;
	position: relative; 
	z-index:1; 
	overflow:hidden; 
}
.ncc-null-shopping i.ico { 
	background: url(../images/cart_bg.png) no-repeat -100px -50px; 
	width: 128px; height: 128px; 
	position:absolute; 
	z-index: 1; 
	top: 80px; 
	left:0;
}
.ncc-null-shopping h4 { 
	font: lighter 22px/30px "microsoft yahei"; 
	color: #777; 
	position: absolute; 
	z-index: 1; 
	top: 110px; 
	left: 180px; 
}
.ncc-null-shopping p{ 
	position: absolute; 
	z-index: 1; 
	top: 160px; 
	left: 180px; 
}
.ncc-null-shopping p a .ncbtn{
    height: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    font: 400 12px/20px "microsoft yahei",arial;
    color: #FFF;
    background-color: #CCD0D9;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}
.ncc-null-shopping p a.mr10 {
    margin-right: 10px !important;
    background: #F98016;
}
/* 购物车内容部分
-----------------------------------*/
.ncc-title { 
	height: 50px; 
	padding: 15px 0; 
	border: solid #F7F7F7; 
	border-width: 1px 0 0; 
	border-bottom: solid 1px #F5F5F5;
}
.ncc-title h3 { 
	font: lighter 24px/30px arial,"microsoft yahei"; 
	color: #555;
}
.ncc-title h5 { 
	font: 12px/20px arial,"microsoft yahei"; 
	color: #AAA;
}
/*table   ncc-table-style*/
.ncc-table-style { 
	width: 100%; 
	border-collapse: collapse; 
	margin-bottom: 20px;
}
.ncc-table-style thead th { 
	line-height: 20px; 
	color: #666; 
	background-color: #FAFAFA; 
	text-align: center; 
	height: 20px; 
	padding: 10px;
}
.ncc-table-style tbody th { 
	font-size: 12px; 
	line-height: 20px; 
	color: #333;
	height: 20px; 
	background-color: #FFF; 
	padding: 20px 10px 10px;
}
.ncc-table-style .ncc-store-name { 
	font-size: 14px; 
	line-height: 26px; 
	vertical-align: top; 
}
.ncc-table-style tbody tr td{ 
	background-color: #FFF; 
	vertical-align: top; 
	padding: 8px 10px; 
	text-align:center; 
	border-top: solid 1px #DDD;
}
.ncc-table-style tbody .td-border-left { 
	border-left: solid 1px #DDD;
}
.ncc-table-style .checkedtop{
	margin-top: 30px;
}
.ncc-table-style .ncc-goods-thumb { 
	line-height: 0; 
	vertical-align: middle; 
	display: table-cell; 
	width: 80px;
	height: 80px; 
	border: solid 1px #F5F5F5; 
	overflow: hidden;
}
.ncc-table-style .ncc-goods-thumb img { 
	max-width: 80px; 
	max-height: 80px; 
	margin-top:expression(80-this.height/2); 
}
.ncc-table-style .goods-title{
	font-size: 16px;
	line-height: 18px;
	padding:20px;
	text-align: left;
	word-spacing: normal;
	display: table-cell;
}
.ncc-table-style .goods-price { 
	font-family: Tahoma; 
	font-weight: 600; 
	color: #333; 
	line-height: 24px; 
	display: block;
	font-size: 24px;
	vertical-align: middle;
	padding:20px;
}
/*、、、、、、、、、、、、、、、、     + 号、、、、、、、、、、、*/
.ncc-table-style a.addkey { 
	font: 14px/30px Tahoma, Arial; 
	color: #555; 
	text-decoration: none; 
	background-color: #F5F5F5; 
	text-align: center; 
	vertical-align: middle; 
	display: inline-block; 
	width: 26px;
	height: 30px; 
	margin: 0; 
	margin-top: 20px;
}
.ncc-table-style a:hover.addkey { 
	color: #FFF; 
	background-color: #FF875A; 
	text-decoration:none;
}
/*、、、、、、、、、、、、、、、、      - 号、、、、、、、、、、、*/
.ncc-table-style a.reducekey { 
	font: 14px/30px Tahoma, Arial; 
	color: #555; 
	text-decoration: none; 
	background-color: #F5F5F5; 
	text-align: center; 
	vertical-align: middle; 
	display: inline-block; 
	width: 26px;
	height: 30px; 
	margin-top: 20px; 
}
.ncc-table-style a:hover.reducekey { 
	color: #FFF; 
	background-color: #FF875A; 
	text-decoration:none;
}
.ncc-table-style .text{
	margin-top: 20px;
}
.ncc-table-style .goods-subtotal { 
	font-family: Verdana,Tahoma,arial; 
	color: #F40; 
	font-weight: 600; 
	line-height: 24px; 
	display: block;
	font-size: 24px;
	vertical-align: middle;
	padding:20px;
} 
.ncc-table-style tbody .td-border-right {
	border-right: solid 1px #DDD;
	font-size: 14px;
	line-height: 20px;
}
.ncc-table-style tbody .addnum{
	padding-top: 20px;
}
/*结算*/
.ncc-table-style tfoot td {
    background: #FAFAFA;
    text-align: right;
    height: 50px;
    padding: 0;
}
.ncc-all-account { 
	font: normal 14px/50px "microsoft yahei", Arial; 
	color: #333; 
	vertical-align: top; 
	display: inline-block; 
	height: 40px; 
	margin-right: 10px;
}
.ncc-all-account em { 
	font-size: 22px; 
	line-height: 50px; 
	font-family: Tahoma,arial; 
	color: #F32613; 
	margin: 0 4px;
}
#delSelect,#backindex,.ncc-next-submit{ 
	font-size: 20px; 
	line-height: 50px; 
	color: #FFF !important; 
	background-color: #F32613;
	vertical-align: top; 
	display: inline-block; 
	height: 50px; 
	padding: 0 15px; 
	cursor: pointer;
}
#delSelect:hover,.ncc-next-submit:hover{
	background-color: #CF0010;
}
#delSelect{
	float: left;
}
#backindex{
	float: left;
	margin-left:30px;
}
#backindex:hover{
	background-color: #CF0010;
}
/*猜你喜欢*/
